# https://git-scm.com/docs/gitattributes
# Preserve reviewed third-party license evidence byte for byte; diffs stay readable for review, and its whitespace is
# not an error for git diff --check.
docs/third-party/*.txt -text -whitespace
